<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin::Unafrik</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <header class="cd-main-header">
  		<a href="#0" class="cd-logo"><img src="<%= static_path(@conn, "/images/cd-logo.svg") %>" alt="Logo"></a>

  		<%# <div class="cd-search is-hidden"> %>
  			<%# <form action="#0">
  				<input type="search" placeholder="Search...">
  			</form> %>
  		<%# </div> <!-- cd-search --> %>

  		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

  		<nav class="cd-nav">
  			<ul class="cd-top-nav">
  		<%# 		<li><a href="#0">Tour</a></li>
  				<li><a href="#0">Support</a></li> %>
  				<li class="has-children account">
  					<a href="#0">
  						<img src="<%= static_path(@conn, "/images/cd-avatar.png") %>" alt="avatar">
  						Account
  					</a>

  					<ul>

  						<li>
                <%= link "My Account", to: admin_user_path(@conn, :index) %>
              </li>

  						<li>
                <%= link "Edit Account", to: admin_user_path(@conn, :edit, @current_user) %>
              </li>

              <li>
                <%= link "Logout", to: session_path(Unafrik.Endpoint, :delete, @current_user), method: "delete" %>
              </li>

              <li>
                <%= link "Logout 2", to: admin_session_path(@conn, :delete, @current_user), method: "delete" %>
              </li>

              <li>
                <%= link "Logout 3", to: admin_session_path(Unafrik.Endpoint, :delete, @current_user), method: "delete" %>
              </li>

  					</ul>
  				</li>
  			</ul>
  		</nav>
  	</header> <!-- .cd-main-header -->

    <main class="cd-main-content">
  		<nav class="cd-side-nav">
  			<ul>
  				<li class="cd-label">Main</li>
          <li class="has-children overview">
            <a href="#0">Overview</a>

            <ul>
              <li><a href="#0">All Data</a></li>
              <li><a href="#0">Category 1</a></li>
              <li><a href="#0">Category 2</a></li>
            </ul>
          </li>
          <li class="has-children notifications active">
            <a href="#0">Notifications<span class="count">3</span></a>

            <ul>
              <li><a href="#0">All Notifications</a></li>
              <li><a href="#0">Friends</a></li>
              <li><a href="#0">Other</a></li>
            </ul>
          </li>
          <li class="has-children comments">
            <a href="#0">Comments</a>

            <ul>
              <li><a href="#0">All Comments</a></li>
              <li><a href="#0">Edit Comment</a></li>
              <li><a href="#0">Delete Comment</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li class="cd-label">Secondary</li>
          <li class="has-children bookmarks">
            <a href="#0">Bookmarks</a>

            <ul>
              <li><a href="#0">All Bookmarks</a></li>
              <li><a href="#0">Edit Bookmark</a></li>
              <li><a href="#0">Import Bookmark</a></li>
            </ul>
          </li>
          <li class="has-children images">
            <a href="#0">Images</a>

            <ul>
              <li><a href="#0">All Images</a></li>
              <li><a href="#0">Edit Image</a></li>
            </ul>
          </li>

          <li class="has-children users">
            <a href="#0">Users</a>

            <ul>
              <li>
                <%= link "All Users", to: admin_user_path(@conn, :index) %>
              </li>
              <li>
                <%= link "Edit User", to: admin_user_path(@conn, :edit, @current_user) %>
              </li>
              <li>
                <%= link "New User", to: admin_user_path(@conn, :new) %>
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li class="cd-label">Action</li>
          <li class="action-btn"><a href="#0">+ Button</a></li>
        </ul>
      </nav>

      <div class="content-wrapper">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main> <!-- .content-wrapper -->

    <footer role="contentinfo">
      <div class="site-info">
        <div class="about-section">
        </div>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
