@mixin retina-image-container($imagename, $size, $ext:png) {
  @include size($size);
  @include retina-image('../assets/images/#{$imagename}', $size, $ext);
  background-position:center;
  background-repeat:no-repeat;
}

// Usage: @include easeOutAll(0.5s);
@mixin easeOutAll($time) {
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}
